@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes ping {
    0%, 100% {
      transform: scale(1);
      opacity: 0.5;
    }
    50% {
      transform: scale(1);
      opacity: 0;
    }
  }
  
  .animate-ping {
    animation: ping 2s infinite; /* Adjust the duration (2s) as needed */
  }